<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<!-- api key from netease onmyoji, use for free :) -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=bTmfNtKtyu2PjvhUimPjRlDW"></script>
<title>crimemap</title>
    </head>
    <body>
        <div id="allmap"></div>
        <div id="newcrimeform">
            <h2>Submit new crime</h2>
            {% if error_message %}
                <div id="error"><p>{{error_message}}</p></div>
            {% endif %}
            <form action="/submitcrime" method="POST">
                <label for="category">Category</label>
                <select name="category" id="category">
                    {% for category in categories %}
                        <option value="{{category}}">{{category}}</option>
                    {% endfor %}
                </select>
                <label for="date">Date</label>
                <input name="date" id="date" type="date">
                <label for="latitude">Latitude</label>
                <input name="latitude" id="latitude" type="text" readonly>
                <label for="longitude">Longitude</label>
                <input name="longitude" id="longitude" type="text" readonly>
                <label for="description">Description</label>
                <textarea name="description" id="description" placeholder="A brief but detailed description of the crime"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
<script type="text/javascript">
    var map=new BMap.Map("allmap")
    var marker;
    map.centerAndZoom(new BMap.Point(121.370737, 31.111273), 13)
    map.addControl(new BMap.MapTypeControl({
        mapTypes:[
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]
    }));
    map.setCurrentCity("Shanghai")
    map.enableScrollWheelZoom(true);
    map.addEventListener("click", placeMarker);

    placeCrimes({{crimes |safe}})

    function placeMarker(e) {
        if(marker) {
            marker.setPosition(e.point);
        } else {
            marker=new BMap.Marker(e.point);
            map.addOverlay(marker);
        }
        document.getElementById('latitude').value = e.point.lat;
        document.getElementById('longitude').value = e.point.lng;
    }

    function placeCrimes(crimes) {
        for(i=0; i < crimes.length; i++) {
            //alert('crimes: ' + crimes[i].latitude + ',' + crimes[i].longitude);
            crime = new BMap.Marker(new BMap.Point(crimes[i].longitude, crimes[i].latitude));
            crime.setTitle(crimes[i].date + "\n" + crimes[i].category + "\n" + crimes[i].description);
            map.addOverlay(crime);
        }
    }
</script>
